*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
.logo{
    cursor: pointer;
    height: 40px;
}
.logo img{
    height: 40px;
}
li, a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}

header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    background-color: #24252A;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links a{
   color: #edf0f1;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font:
    400 16px/22px 'Source Sans Pro',
    'Helvetica Neue',
    sans-serif;
  padding: 10px;
  width: 300px;
}

.mapboxgl-popup-content h3 {
  text-align: center;
  background: #f0b526;
  color: #fff;
  width: 300px;
  margin-left: -10px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}
#map {
    width: 50vw;
    height: 100vh;
}
        
.custom-marker {
    background-size: cover;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    cursor: pointer;
    background-color: transparent;
}
